<ion-view view-title="Adicionar Atleta">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header" ng-controller="AtletaController as ctrl">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome" ng-model="atleta.nome">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Sobrenome</span>
                    <input type="text" placeholder="Sobrenome" ng-model="atleta.sobrenome">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="atleta.email">
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Celular</span>
                    <input type="text" placeholder="Celular" ng-model="atleta.email">
                </label>
                 <label class="item item-input item-select">
                    <div class="input-label">
                        Time
                    </div>
                    <select>
                        <option>Flamengo</option>
                        <option>São Paulo</option>
                        <option selected>Vasco</option>
                    </select>
                </label>
                <button class="button button-full button-positive" ng-click="addAtleta();">
                    Salvar
                </button>
                {{atleta}}
            </div>
        </div>
        
    </ion-content>
</ion-view>