<ion-view view-title="Atletas">
    <ion-content ng-class="{expanded:isExpanded}" >
        <div class="list">
            <div class="content has-header" >
                <a class="item item-avatar" ui-sref="app.profile">
                    <img src="img/jon-snow.jpg">
                    <h2>Lorena</h2>
                    <p>Castro</p>
                </a>
                <a class="item item-avatar" ui-sref="app.profile">
                    <img src="img/lorena.jpg">
                    <h2>Luana</h2>
                    <p>Luluzinha</p>
                </a>
                <a class="item item-avatar" ui-sref="app.profile">
                    <img src="img/nayra.jpg">
                    <h2>Nayra</h2>
                    <p>Lopes</p>
                </a>
                <a class="item item-avatar" ui-sref="app.profile">
                    <img src="img/hisa.jpg">
                    <h2>Hisa</h2>
                    <p>Dutra</p>
                </a>

                <a class="item item-avatar" ui-sref="app.profile">
                    <img src="img/minah.jpg">
                    <h2>Marina</h2>
                    <p>Minah</p>
                </a>
                <a class="item item-avatar" ui-sref="app.profile">
                    <img src="img/rhaiana.jpg">
                    <h2>Rhaiana</h2>
                    <p>Natividade</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
