<ion-view view-title="Perfil">
    <ion-content ng-class="" ng-controller="AtletasCtrl2 as atletas" ng-init="obter();">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">{{atleta.nm_atleta}}</a></h3>
                <h4> {{atleta.ds_apelido}}</h4>
            </div>
            
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.partidas" class="tab-item">
                <i class="icon ion-ios-football"></i> Partidas
            </a>
            <a ui-sref="app.atletas" class="tab-item">
                <i class="icon ion-android-people"></i> Atletas
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-chatbubble"></i> Fórum
            </a>
        </div>
        <div class="list">

            <a class="item item-icon-left" href="#">
                <i class="icon ion-email"></i>
                {{atleta.email_pessoa}}
            </a>

            <a class="item item-icon-left item-icon-right" href="#">
                <i class="icon ion-chatbubble-working"></i>
                {{atleta.nu_celular}}/{{atleta.nu_whats}}
                <i class="icon ion-ios-telephone-outline"></i>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Ranking
                <span class="badge badge-assertive">15º</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-calendar-outline"></i>
                Data de nascimento
                <span class="badge">{{atleta.dt_nascimento}}</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-checkmark"></i>
                Frequência
                <span class="badge">35/50</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-ios-football"></i>
                Gols
                <span class="badge">54</span>
            </a>
        </div>
    </ion-content>
</ion-view>
